
$link_colour: #5757ff;
$link_visited_colour: #9a57ff;
$link_hover_colour: #9a57ff;

$header_start_colour: #3f4c6b;
$header_end_colour: #003;
$header_link_colour: #E0DED3;

@import '_mixins.scss';
@import '_grid.scss';
@import '_screen-base.scss';
@import '_screen-layout.scss';
@import '_screen-module.scss';
@import '_screen-module-units.scss';// TODO: should just be called 'units'

@import '_buttons.scss';

@import '_screen-state.scss';

